/*-------------------- Common --------------------*/

.spinner-border {
    position: absolute;
    top: 20%;
    left: 50%;
}

.error-message {
    position: absolute;
    width: 800px;
    top: 20%;
    left: 50%;
    margin-left: -400px;
    text-align: center;
}

/*-------------------- Navigation Bar --------------------*/

.navbar .navbar-brand {
    margin-left: 10px;
}

/*-------------------- Homepage --------------------*/

.homepage .appointment-table {
    width: 1400px;
    margin: 0 auto;
    margin-top: 100px;
}

.homepage .appointment-table .content-title {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #012231;
}

.homepage table {
    text-align: center;
}

.homepage .unavailable {
    width: 120px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: grey;
    border: 1px solid grey;
}

.homepage .name {
    width: 150px;
    margin: 0 auto;
    overflow: hidden;
    max-height: 30px;
}

.homepage .available {
    width: 150px;
    margin: 0 auto;
    cursor: pointer;
    color: green;
    background-color: #95dbfc;
    border: 1px solid #95dbfc;
    border-radius: 2px;
}

.homepage .available:hover {
    background-color: white;
    border: 1px solid white;
    color: #084d6d;
}

/*-------------------- Appointment --------------------*/

.appointment .appointment-form {
    width: 500px;
    margin: 0 auto;
    margin-top: 100px;
}

.appointment .appointment-form .date-area {
    margin-top: 20px;
    margin-bottom: 40px;
}

.appointment .appointment-form .form-group .input-column {
    width: 200px;
}

.appointment .appointment-form .button-area {
    text-align: center;
    margin-top: 30px;
}

/*-------------------- All Appointments --------------------*/

.appointments .appointment-table {
    width: 1000px;
    margin: 0 auto;
    margin-top: 100px;
}

.appointments .appointment-table .content-title {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #012231;
}

.appointments table {
    text-align: center;
}

.appointments .name {
    width: 150px;
    margin: 0 auto;
    overflow: hidden;
    max-height: 30px;
    border-radius: 5px;
    background-color: #95dbfc;
    border: 1px solid #95dbfc;
    color: #515152;
    cursor: pointer;
}

.appointments .name:hover {
    background-color: white;
    border: 1px solid white;
    color: #084d6d;
}

/*-------------------- Appointment Details --------------------*/

.appointment-details .appointment-details-area {
    width: 1000px;
    margin: 0 auto;
    margin-top: 100px;
}

.appointment-details .content-title {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #012231;
}

.appointment-details table {
    text-align: center;
}

.appointment-details table th {
    min-width: 200px;
}

.appointment-details .appointment-details-area .booked-by {
    word-break: break-word;
}

/*-------------------- Page Not Found --------------------*/

.page-not-found {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
